.logo{
    position: relative;
   float:left;
   padding-left: 20px;
 }
 .basy{
   background-color: rgb(2, 24, 47);
   text-align: center;
   color:white;
   font-family: 'Aladin';font-size: 22px;
   padding:10px;
 }
 .mesto{
   color:white ;
   font-family: 'Actor';
   font-size: 16px;
   float:center;
   padding:50px 400px 0px 599px;
 }
 ul {
 list-style-type: none;
padding-right:99px;
margin-bottom: 0px;;
overflow: hidden;
background-color:#1f7da8;
}
li {
float: left;
padding-right:35px;
}


li a {
display: block;
color: white;
text-align: center;
padding: 16px 14px;
text-decoration: none;
font-size:28px;
}

li a:hover {
background-color: rgb(2, 24, 47);;
}
.nav{
margin-right:140px;
margin-left:140px;}

.logolar{
float:right;
padding-right:40px;
margin-top:-50px;
}


.active {
background-color:rgb(2, 24, 47);;
color: white;
border: none;
cursor: pointer;
}



.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 140px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 5px 16px;
text-decoration: none;
display: block;
font-size: 15px;;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;
}


.ex {
    
    color: white;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;}
    .qor {
      width: 1197px;
      height: 400px;
      object-fit: cover;
      grid-column: 1;
      grid-row: 1;
      background-position-y: 180px;
      z-index: 0;
    }
   h1 {
      margin: 0;
      padding-bottom: 6rem;
      grid-column: 1;
      grid-row: 1;
      z-index: 1;
      font-family: 'Teko', sans-serif;
      font-size: 55px;
      text-transform: uppercase;
      animation: glow 2s ease-in-out infinite alternate;
      text-align: center;
    }
    .quad{
      font-family: 'Teko', sans-serif;
      color: white;
      grid-column: 1;
      grid-row: 1;
      align-self: end;
      justify-self: center;
      padding-bottom: 1rem;
    
    }
    body{
        background-color:black;
        margin:auto;
        color:white;
      }
    .ortasy{
        margin:20px 140px 20px 140px;
        display:flex;
    }
    #suret{
        
        border-radius:50%;
        height: 230px;
        width: 230px;
        border-style: 3px white solid;
        
    }
    .ekeu{
        animation: glows 2s ease-in-out infinite alternate;
        padding: 20px 55px 20px 110px;
        
    }
    .word{
      margin:100px 100px 20px 30px;
      color:#212121;
    padding: 50px;
  padding-top: 8px;}
      .word h2{
      color:#1f7da8;
      font-size:33px;
      margin-left:40px;}
      #hrv{
      margin:-20px 0px 0px 40px;
      width:240px;
    
      float:left;}

          
        
        #my {
        
          background-color: #ff5100;
        color:white;
        font-size: 18px;
          margin-top: -30px;
          margin-left: 170px;
          margin-right: 1000px;
          display:none;
        }
        #my1 {
        
          background-color: #ff5100;
        color:white;
        font-size: 18px;
          margin-top: -30px;
          margin-left: 600px;
          margin-right: 670px;
          display:none;
        }
        #my2 {
          background-color: #ff5100;
        color:white;
        font-size: 18px;
          margin-top: -30px;
          margin-left: 960px;
          margin-right: 300px;
          display:none;
        }
        
        #my3{
        
          background-color: #ff5100;
        color:white;
        font-size: 18px;
          margin-top: -30px;
          margin-left: 170px;
          margin-right: 1000px;
          display:none;
        }
        #my4 {
        
          background-color: #ff5100;
        color:white;
        font-size: 18px;
          margin-top: -30px;
          margin-left: 600px;
          margin-right: 670px;
          display:none;
        }
        #my5 {
          background-color: #ff5100;
        color:white;
        font-size: 18px;
          margin-top: -30px;
          margin-left: 960px;
          margin-right: 300px;
          display:none;
        }



    @keyframes glow {
      from {
        text-shadow: 0 0 20px  #ff5100;
      }
      to {
        text-shadow: 0 0 30px #2d9da9, 0 0 10px #4dbbc7;
      }
    }
    @keyframes glows {
        from {
          box-shadow: 0 0 5px rgb(2, 24, 47);
        }
        to {
          box-shadow: 0 0 5px 5px  white, 0 0 5px #4dbbc7;
        }
      }

      .ast{
        background-color:#1f7da8;
        color:white;
        font-size: 20px;
        margin-top: 120px;
      
      }


      .one{
        float: left;
       
      }
      .two{
        float: left;
       
      }
      .three{
        float: right;
   }
       
      .four{
        float: right;
        margin: 0px; 
      }
      @media(max-width:1150px){
        .logo{
          display: none;
       }
      
       .mesto{
         display:none;
       }
       ul {
      padding-right:5px;
      margin-bottom: 0px;;

      }
      li {
      float: left;
      padding-right:5px;
      }
      
      
      li a {
      display: block;
      color: white;
      text-align: center;
      padding: 5px 4px;
      text-decoration: none;
      font-size:13px;
      }
      
   
      .nav{
      margin-right:80px;
      margin-left:80px;}
      
      .logolar{
     display:none;
      }
    
      .dropdown-content a {
        color: black;
        padding: 5px 10px;
        text-decoration: none;
        display: block;
        font-size: 8px;;
        }
      
      
.qor {
            width: 520px;
            height: 200px;
            margin-top: 0px;
          }
         h1 {
           
            font-size: 29px;
            
          }
        
         .ortasy{
          margin:10px 20px 10px 70px;
              display:flex;
          }
          #suret{
              
              border-radius:50%;
              height: 120px;
              width: 120px;
              border-style: 3px white solid;
              
          }
          .ekeu{
              animation: glows 2s ease-in-out infinite alternate;
              padding: 8px 19px 9px 19px;
              
          }
          .word{
            margin:30px 100px 20px 30px;
            color:#212121;
          padding: 30px;
        padding-top: 8px;}
            .word h2{
            color:#1f7da8;
            font-size:19px;
            margin-left:40px;}
        
              #my {
              
                display:none;
              }
              #my1 {
       
                display:none;
              }
              #my2 {
                
                display:none;
              }
              
              #my3{
              
                display:none;
              }
              #my4 {
              
                display:none;
              }
              #my5 {
                
                display:none;
              }
            .ast{
              background-color:#1f7da8;
              color:white;
              font-size: 12px;
              margin-top: 50px;
            
            }
          }
          @media (max-width: 670px){
            .logo{
              display: none;
           }
          
           .mesto{
             display:none;
           }
           ul {
          padding-right:3px;
          margin-bottom: 0px;;
    
          }
          li {
          float: left;
          padding-right:3px;
          }
          
          
          li a {
          display: block;
          color: white;
          text-align: center;
          padding: 5px 4px;
          text-decoration: none;
          font-size:10px;
          }
          
       
          .nav{
          margin-right:36px;
          margin-left:36px;}
          
          .logolar{
         display:none;
          }
        
          .dropdown-content a {
            color: black;
            padding: 5px 7px;
            text-decoration: none;
            display: block;
            font-size: 6px;;
            }
          
          
    .qor {
                width: 370px;
                height: 170px;
                margin-top: 0px;
              }
             h1 {
               
                font-size: 20px;
                
              }
              #hrv{
                display:none;
              }
            
             .ortasy{
              margin:10px 10px 10px 50px;
                 
              }
              #suret{
                  
                  border-radius:50%;
                  height: 90px;
                  width: 90px;
                  border-style: 3px white solid;
                  
              }
              .ekeu{
                  animation: glows 2s ease-in-out infinite alternate;
                  padding: 8px 14px 9px 14px;
                  
              }
              .word{
                margin:30px 100px 20px 30px;
                color:#212121;
              padding: 20px;
            padding-top: 8px;}
                .word h2{
                color:#1f7da8;
                font-size:15px;
                margin-left:40px;}
            
                  #my {
                  
                    display:none;
                  }
                  #my1 {
           
                    display:none;
                  }
                  #my2 {
                    
                    display:none;
                  }
                  
                  #my3{
                  
                    display:none;
                  }
                  #my4 {
                  
                    display:none;
                  }
                  #my5 {
                    
                    display:none;
                  }
                .ast{
                  background-color:#1f7da8;
                  color:white;
                  font-size: 7px;
                  margin-top: 30px;
                
                }
              }
            
            