body {
    background: linear-gradient(45deg, #a3008d, #ff5900, #a3008d, #ff5900);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
h1{
    padding-top: 30px;
    text-align: center;
    color: #ff9500;
}
p{
    text-align: center;
    color: #fff;
}
.login-container{
    margin: auto;
    margin-top: 50px;
    width: 25%;
    height: 600px;
    background-color: rgba(2, 24, 47, 0.9);
    border-radius: 30px;
}
.login-container::before{
    content: '';
    position: absolute;
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.223);
    width: 25%;
    margin-left: 575px;
    margin-top: 50px;
    height: 600px;
    border-radius: 20px;
    
}
form{
    margin-left: 10%;
    width: 80%;
}
label{
    display: flex;
    margin-top: 3%;
    color: #ff9500;
    font-size: 15px;
}
select{
    width: 100%;
    height: 30px;
    font-size: 18px;
    background-color: #ff5900;
    color: rgb(255, 255, 255);
    border: none;   
    border-radius: 7px;
}
input{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    border-bottom: #ff9500 solid 1px;
    background-color: rgba(255, 255, 255, 0.05);
}
input[type="button"]{
    margin-top: 20px;
    background-color: #ff5900;
    border-radius: 20px;
    color: white;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: bold;
}
input[type="button"]:hover{
    background-color: #fff;
    color: #ff5900;
}
@media (max-width: 768px) {
    .login-container{
        width: 80%;
    }
    .login-container::before{
        margin-left: 54px;
        width: 80%;
    }
}