body{
    width:100%;

}
.heading{
    font-size: 30px;
    text-align:center;
    font-family:"Arial Narrow";
    font-weight:bold;
    color:#9C37B9;
}
.line {
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    flex: 1;
    border: none;
    height: 1px;
    background:	black;
    
}
.fa-newspaper{
    font-size:30px;
    color:	#A8A8A8
}
.rect{
    border: 3px solid black;
    border-radius:30px;
    float:left;
    margin: 20px 30px 0 50px;
}
img{
    width: 300px;
    height: 300px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.desc{
    width:300px;
}
.time{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: grey;
    height: 30px;
    text-align: center;
}