.logo{
    position: relative;
   float:left;
   padding-left: 20px;
 }
 .basy{
   background-color: rgb(2, 24, 47);
   text-align: center;
   color:white;
   font-family: 'Aladin';font-size: 22px;
   padding:10px;
 }
 .mesto{
   color:white ;
   font-family: 'Actor';
   font-size: 16px;
   float:center;
   padding:50px 400px 0px 599px;
 }
 ul {
 list-style-type: none;
padding-right:99px;
margin-bottom: 0px;;
overflow: hidden;
background-color:#1f7da8;
}
li {
float: left;
padding-right:35px;
}


li a {
display: block;
color: white;
text-align: center;
padding: 16px 14px;
text-decoration: none;
font-size:28px;
}

li a:hover {
background-color: rgb(2, 24, 47);;
}
.nav{
margin-right:140px;
margin-left:140px;}

.logolar{
float:right;
padding-right:40px;
margin-top:-50px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 140px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	}
	
	.dropdown-content a {
	color: black;
	padding: 5px 16px;
	text-decoration: none;
	display: block;
	font-size: 15px;;
	}
	
	.dropdown-content a:hover {background-color: #f1f1f1}
	
	.dropdown:hover .dropdown-content {
	display: block;
	}
	
.active {
background-color:rgb(2, 24, 47);;
color: white;
border: none;
cursor: pointer;
}

body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro{
	width: 100%;
	height: 580px;
	background-image: url(background.jpg);
}
.video-serial{
	display: none;
}
.intro-video{
	width: 100%;
	position: relative;
	margin-left: 0;
	margin-top: 0;
}
#slider {
	/*положение слайдера*/
	
	text-align: center;
	top: 10px;
	margin: 0 auto;
	border: solid;
}

#slides article {
	/*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image {
	/*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

.h1-in-carusel {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 30px;
	color: rgb(160, 23, 23);
}

#overflow {
	/*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img {
	/*размер изображений слайдера*/
	width: 100%;
}
 a{
	text-decoration: none;
 }
#desktop:checked~#slider {
	/*размер всего слайдера*/
	max-width: 80%;
	/*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked~#controls label:nth-child(5),
#switch2:checked~#controls label:nth-child(1),
#switch3:checked~#controls label:nth-child(2),
#switch4:checked~#controls label:nth-child(3),
#switch5:checked~#controls label:nth-child(4) {
	background: url('prev.png') no-repeat;
	/*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px;
	/*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked~#controls label:nth-child(2),
#switch2:checked~#controls label:nth-child(3),
#switch3:checked~#controls label:nth-child(4),
#switch4:checked~#controls label:nth-child(5),
#switch5:checked~#controls label:nth-child(1) {
	background: url('next.png') no-repeat;
	/*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0;
	/*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label,
a {
	/*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input {
	/*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked~#slides .image {
	margin-left: 0;
}

#switch2:checked~#slides .image {
	margin-left: -100%;
}

#switch3:checked~#slides .image {
	margin-left: -200%;
}

#switch4:checked~#slides .image {
	margin-left: -300%;
}

#switch5:checked~#slides .image {
	margin-left: -400%;
}

#controls {
	/*положение блока всех управляющих элементов*/
	margin: 0 0 0 0;
	width: 100%;
	height: 50px;
}

#active label {
	/*стиль отдельного переключателя*/
	border-radius: 10px;
	/*скругление углов*/
	display: inline-block;
	/*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active {
	/*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover {
	/*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important;
	/*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked~#active label:nth-child(1),
#switch2:checked~#active label:nth-child(2),
#switch3:checked~#active label:nth-child(3),
#switch4:checked~#active label:nth-child(4),
#switch5:checked~#active label:nth-child(5) {
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image {
	/*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover {
	/*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label {
	/*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}
.events-and-calendar{
	width: 80%;
	display: block;
	margin-left: 10%;
	margin-top: 10px;
}
.events{
width: 70%;
float: left;
}
.calendar{
	width: 28%;
	display: block;
	float: right;
	padding: 0;
	margin: 0;
}
.h2-in-events{
	width: 100%;
	text-align: left;
	line-height: 1.5;
	border-bottom: gray 1px solid;
	color:rgb(160, 23, 23);
	text-transform: uppercase;
}
.h2-in-calendar{
	width: 100%;
	text-align: center;
	line-height: 1.5;
	border-bottom: gray 1px solid;
	color:rgb(160, 23, 23)
}
.numbers-and-title-event{
	display: flex;
	width: 100%;
	padding-bottom: 5%;
}
.numbers{
	border-bottom: brown solid;
	width: 40%;
	text-align: center;
	line-height: 1.5;
}
.h3-in-calendar{
	margin: 0;
	padding: 0;
	font-size: 30px;
	color: rgb(160, 23, 23);
}
.p-in-calendar{
	margin: 0;
	padding: 0;
	font-size: 20px;
	
}
.title-event{	
	width: 60%;
	text-align: center;
	color: rgb(0, 0, 85);
	font-size: 20px;
	text-transform: uppercase;
}
